<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style2.css">
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>M</span>r<span>to</span>inh</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="../View/page1.html" data-after="Home">Home</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Thanh Tịnh <span></span></h1>
      </div>
    </div>
  </section>


  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="../images/./img/1.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <p>I am a new programmer, passionate about information technology and eager to build a career in this field. I have learned programming languages such as JavaScript, HTML, CSS, and have a basic understanding of web development.</p>
        <p>I believe that programming is a creative and exciting job. I always strive to learn and improve my programming skills to create better products.</p>
        <p>I have been involved in some small projects and have had the opportunity to work with different technologies. I have experience working in teams and understand the importance of teamwork and effective communication.</p>
        <p>I am seeking opportunities to further develop my programming skills and participate in real-world projects to apply the knowledge I have gained. I hope to have the chance to learn from experts and colleagues in the industry.</p>
        <p>If you are looking for a passionate and eager-to-learn new programmer, I would love the opportunity to contribute to your project.</p>
        <p>Thank you for reading my introduction. Feel free to get in touch if you have any questions or would like to know more!</p>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="../images/img/6-phone-cat_icon-icons.com_76682.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>0848111549</h2>
            <h2>+1 234 123 1234</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="../images/img/483486-contact-email-envelope-letter_107696.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>mrtoinh2003@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="../images/img/if-advantage-nearby-1034361_88844.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Binh Dinh</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <!-- End Footer -->
  <script src="../JS/script2.js"></script>
</body>

</html>